*{
  padding:0;
  margin:0;
}
.teadisplay{
  background-color: aqua;
  display:inline-block;
  height:auto;
  width:200px;
  padding:20px;
  margin:30px;
  border-radius: 30px;
  text-align: center;
  justify-content: space-around;
  font-size:large;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
